<!DOCTYPE html>
<html>
  <head>
    <title>React and Rails playground and examples</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= render 'layouts/favicon' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>

    <%= render 'layouts/navbar' %>
      <%= yield %>
      <%= javascript_pack_tag 'application' %>
    <%= yield :after_js %>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script> WebFont.load({ google: { families: ['Roboto:400,700'] }});</script>

</html>
